:root {
    --f7-theme-color:  #616a6b ;
    --f7-theme-color-rgb:  97, 106, 107;
    --f7-theme-color-shade:  #424949;
    --f7-theme-color-tint: #7f8c8d;
    --f7-bars-bg-color: var(--f7-theme-color);
    --f7-bars-text-color: #fff;
    --f7-fab-size:80px;
    --f7-photobrowser-bg-color: var(--f7-theme-color-shade);
    --f7-photobrowser-bars-bg-color: var(--f7-theme-color);
    --f7-photobrowser-bars-text-color: #fff;
    --f7-photobrowser-bars-link-color: #fff;
    --button-accent: #fc0;
}
.page-content {
    background-color: var(--f7-theme-color-shade);
}

.bg-warning {
    background-color: orange;
}
.bg-pink {
    background-color: pink;
}
.w-100 {
    width:100%;
}

[data-name="home"] .toolbar {
    background: transparent !important;
}
.icon {
    font-size:2rem;
}
.like-button, .delete-button {
    color:unset;
}
.delete-button {
    color:red;
}
.like-button {
    color:#848484;
}
#camera-button-container {
    background-color: var(--button-accent);
}
#camera-button {
    background-color: var(--button-accent);
    color: var(--f7-theme-color-shade);
}
.liked {
    color: var(--button-accent);
}
.round-button {
    border-radius: 100%;
    background-color: lightblue;
    color: black;
}

.image-cell {
    height: 170px;
    position:relative;
}

img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.swiper-zoom-container {
    flex-direction:column;
}
.cell-liked {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    /* background: rgb(0,0,0);
    background: linear-gradient(304deg, rgba(0,0,0,1) 26%, rgba(255,255,255,0) 100%);  */
}

.center-icon {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo-buttons {
    width: 100%;
    max-width: 290px;
}

[data-name="home"] .toolbar-inner {
    position: unset;
}
.photo-browser-slide .swiper-zoom-container img {
    max-height: 75%;
    object-fit: contain;
    object-position: center;
}