.bg-warning {
    background-color: orange;
}
.bg-pink {
    background-color: pink;
}
.w-100 {
    width:100%;
}

[data-name="home"] .toolbar {
    background: transparent !important;
}
.icon {
    font-size:2rem;
}
.like-button, .delete-button {
    color:unset;
}
.liked {
    color: var(--f7-theme-color);
}
.round-button {
    border-radius: 100%;
    background-color: lightblue;
    color: black;
}

.image-cell {
    height: 170px;
    position:relative;
}

img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.swiper-zoom-container {
    flex-direction:column;
}
.cell-liked {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    /* background: rgb(0,0,0);
    background: linear-gradient(304deg, rgba(0,0,0,1) 26%, rgba(255,255,255,0) 100%);  */
}

.center-icon {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

[data-name="home"] .toolbar-inner {
    position: unset;
}